/* Dark mode colors. */
:root {
	--sl-color-accent-low: #371b14;
	--sl-color-accent: #aa462c;
	--sl-color-accent-high: #e5bfb4;
	--sl-color-success: #5fb98b;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ebedf9;
	--sl-color-gray-2: #bfc1cf;
	--sl-color-gray-3: #8789a4;
	--sl-color-gray-4: #54566e;
	--sl-color-gray-5: #34364d;
	--sl-color-gray-6: #23243a;
	--sl-color-black: #161721;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #edcfc8;
	--sl-color-accent: #ac482e;
	--sl-color-accent-high: #4f2418;
	--sl-color-success: #24794d;
	--sl-color-white: #161721;
	--sl-color-gray-1: #23243a;
	--sl-color-gray-2: #34364d;
	--sl-color-gray-3: #54566e;
	--sl-color-gray-4: #8789a4;
	--sl-color-gray-5: #bfc1cf;
	--sl-color-gray-6: #ebedf9;
	--sl-color-gray-7: #f5f6fc;
	--sl-color-black: #ffffff;
}

.sl-markdown-content .expressive-code .copy button {
	width: 2.75rem;
	height: 2.75rem;
}
